* {
    padding: 0px;
    margin: 0px;
}

/* Navigation bar */

.nav-b {
    background-color: black;
    box-shadow: 0px 0px 10px 10px grey;
}

.nav-l {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-l:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nav-l:focus {
    background-color: rgb(32, 32, 32);
}